@use "variables" as *;
@use "mixins" as *;

#mainFooter {
  position: fixed;
  bottom: 0;
  margin-bottom: 1.5rem;
  left: 50%;
  width: 15%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1rem 0.3rem;
  z-index: 100;

  button {
    @include button-style();
    font-size: 1.5rem;
    box-shadow: $shadow-light;
    transition: box-shadow 0.2s, background 0.2s;

    &:hover {
      box-shadow: $shadow-strong;
    }
  }
}
