/* Fonts */
/* h1 font */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

// Light theme colors
$primary-light: #4395a8;
$secondary-light: #e6af52;
$text-light: #071112;
$accent-light: #e7b550;

// Dark theme colors
$primary-dark: #275c7e;
$secondary-dark: #ae7719;
$text-dark: #edf7f8;
$accent-dark: #846433;

// Font family
$heading-font: "Black Ops One", cursive;
