/* Imported external css files */
@import url(reset.css);
@import url(header.css);
@import url(footer.css);
/* Fonts */
/* h1 font */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

:root {
  --primary-light: #4395a8;
  --secondary-light: #f4f4f4;
  --text-light: #071112;
  --accent-light: #e7b550;
  /* Toggle darkMode colors */
  --primary-dark: #275c7e;
  --secondary-dark: #ae7719;
  --text-dark: #edf7f8;
  --accent-dark: #846433;
}
/* #region Global Styles */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--primary-light);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 1rem;
}
/* #endregion */
